<a href="https://colab.research.google.com/github/ShivanshGupta1/Tuples/blob/main/Tuples_(GitHub).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Random_Tupple = ()
print(Random_Tupple)

()

In [ ]:
#ways to make a tuple

#way 1
cars = ("honda","bmw","ferrari","mercedes","tesla")
print(cars)
print(type(cars))

#way2
cars = "honda","bmw","ferrari","mercedes","tesla"
print(cars)
print(type(cars))

('honda', 'bmw', 'ferrari', 'mercedes', 'tesla')
<class 'tuple'>
('honda', 'bmw', 'ferrari', 'mercedes', 'tesla')
<class 'tuple'>

In [ ]:
#searching in a tuple
cars = ("honda","bmw","ferrari","mercedes","tesla")
print(cars[3])
print(cars[-1])

mercedes
tesla

In [ ]:
fruits = "Mango","Orange","Apple","Banana","Pear","Grapes","Blackberries"
vegetable = "Tomato","Cucumber","Lettuce","Cabbage","Cauliflower","Raddish","Carrot"
groceries = vegetable+fruits
print(groceries)

('Tomato', 'Cucumber', 'Lettuce', 'Cabbage', 'Cauliflower', 'Raddish', 'Carrot', 'Mango', 'Orange', 'Apple', 'Banana', 'Pear', 'Grapes', 'Blackberries')

In [ ]:
num = (20,30,40,50)
a,b,c,d = num
print(a)
print(b)
print(c)
print(d)

20
30
40
50

In [ ]:
#converting tupple to string
num = ("H","e","l","l","o")
num = "".join(num)
print(num)
num = "*".join(num)
print(num)

Hello
H*e*l*l*o

In [ ]:
num = ("H","e","l","l","o")
for i in range(len(num)):
  num1=num.count(num[i])
  if num1>1:
    print(num[i], "is repeated")
    break

l is repeated

In [ ]:
num = ("H","e","l","l","o")
print(num[::-1])

('o', 'l', 'l', 'e', 'H')